.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.env.*
vast_keys*
*.env
.DS_Store
.phpunit*
*.cache
.vscode/
/phpstan.neon
/phpunit.xml
unity_avatar_engine/
unity_scripts/
frontend/
*.zip
*.jpeg
*.jpg
*.png
bkp_scripts/
._remote_*
